{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Edit Member{% endblock %}

{% block body %}
    <h1>Edit Member</h1>

    {{ include('member/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('member_index') }}"><button type="button" class="btn btn-success">Back to List</button></a>

    <br>
    <a href="/members/delete/{{ member.getId() }}"><button type="button" class="btn btn-danger">Delete</button></a></td>
{% endblock %}
