
{% if not band_concerts %}
        <div><p>... Well, no concert planned... yet ?</p></div>
    {% else %}

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Tour Name</th>
      <th scope="col">Date</th>
      <th scope="col">Hall</th>

    </tr>
  </thead>
  <tbody>
  
  {% for concert in band_concerts.concerts %}
  {% if concert.date > "now" %}
    <tr>
      <th scope="row">{{ concert.tourName }}</th> 
      <th scope="row">{{ concert.date.format("d/m/Y") }}</th>
      <th scope="row">{{ concert.hall.name }}</th>

    </tr>
    {% endif %}
    {% endfor %}
  </tbody>
</table>

{% endif %}

    
