<footer class="footer bg-dark fixed-bottom">
    <div class="container">
    {% if concert.hall.concertHall %}
    <div class="text-white"> Hall: {{ concert.hall.name }}</div>
    <div class="text-white"> Building: {{ concert.hall.concertHall.name }}</div>
    <div class="text-white"> Address: {{ concert.hall.concertHall.city }}</div>
    {% endif %}
    </div>
</footer>